body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #4cae4c;
}

.message {
    text-align: center;
    color: red;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa;
}

.highlights {
    padding: 20px;
}

.highlight {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.about {
    text-align: center; /* Centers text within the section */
    padding: 20px; /* Adds some padding for better spacing */
}

.about h2 {
    margin-top: 20px; /* Adds space above each heading */
}

.about p, .about ul {
    margin: 10px auto; /* Centers paragraphs and lists */
}
.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(189, 232, 243);
    color: rgb(15, 20, 18);
    text-align: center;
  }

